/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/* Custom styles */

body {
	font-size: 1em;
	background: #fff;
	line-height: 1.5;
	font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.header {
	padding: .5em 0;
	margin-bottom: 1em;
	position: fixed;
	width: 100%;
	z-index: 500;
	background: #D92567;
}

.header-content {
	display: flex;
	justify-content: space-between;
}

.nav-list-container {
	display: flex;
}

.nav-list-item {
	margin-left: 2em;
}

.nav-list-item-link {
	text-decoration: none;
	color: #f4f4f4;
	transition: .2s;
	font-size: 1.1em;
}

.nav-list-item-link:hover {
	color: #010A26;
}

/* Hero styles */
.hero {
	padding-top: 120px;
	display: flex;
	justify-content: space-between;
}

.hero-content {
	text-align: center;
}

.hero-chant {
	font-family: 'Playball', cursive;
	color: #010A26;
	display: block;
	font-size: 5rem;
	text-transform: uppercase;
	text-align: center;
}

.hero-media-container {
	background: url('../img/header-img.png') no-repeat center/cover;
	width: 400px;
	height: 400px;
}

.btn {
	color: #010A26;
	text-align: center;
	transition: .3s;
}

.btn:hover {
	outline: 0;
	background: #731F35;
	color: #fff;
}

.btn:active {
	transform: translateY(2px);
}

.call-out {
	margin-top: 25px;
	width: 200px;
	padding: 10px;
	font-size: 2em;
	cursor: pointer;
	border-color: #010A26;
}

/* company-info-section */
.company-info-content {
	display: flex;
	flex-wrap: wrap;
}

.company-info-media {
	background: url('../img/mid-page-accent.jpg') no-repeat center/cover;
	width: 100%;
	height: 200px;
}

.company-info-features,
.company-info-about {
	flex-basis: 50%;
}

.info-section {
	margin: 20px 0;
	padding: 1em;
	text-align: justify;
}

.company-info-heading {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
}

.company-info-section-group {
	display: flex;
	justify-content: space-between;
}

.company-info-contact {
	padding: 3em 0;
}

.contact-list-item {
	margin: 2em 0;
}

.address {
	display: block;
	margin: .3em 0;
}

.contact-info-links {
	transition: .2s;
	text-decoration: none;
	color: #010A26;
}

.contact-info-links:hover {
	color: #731F35;
}

/* footer styles */
.main-footer,
.footer-copyright {
	text-align: center;
	padding: 3em 0 6em 0;
}

.company-info-contact {
	text-align: left;
}

@media screen and (max-width: 1024px) {
	.container {
		width: 100%;
		padding: 0 20px;
	}

	.nav-list-item {
		margin-left: 1.5em;
	}

	.hero-chant {
		font-size: 3rem;
	}

	.hero-media-container {
		max-width: 100%;
		width: 300px;
		height: 300px;
	}

	.company-info-vision {
		margin: 20px 0 0 0;
	}
}